<!-- src="https://capsule-render.vercel.app/api?type=waving&height=128&color=gradient&text=@F8D90C4&section=footer&reversal=false&fontSize=32&fontAlign=81&fontAlignY=68&animation=blinking&desc=Instagram&descAlign=87&descAlignY=86" -->
<footer class="relative mt-10">
  <img
    src="https://capsule-render.vercel.app/api?type=waving&height=128&color=gradient&section=footer"
    alt="Footer Image"
    class="w-full"
  />
  <div class="absolute bottom-2 left-0 w-full text-center text-white text-sm font-semibold">
    <p>© 2025 F8DC102. All rights reserved.</p>
  </div>
</footer>