<nav class="navbar fixed top-0 left-0 w-full bg-transparent z-50 transition-all duration-300">
  <div class="max-w-5xl mx-auto flex justify-between items-center p-4">
    <h1 class="text-xl font-bold">
      <a href="index.html" class="text-white transition-colors duration-300 hover:text-blue-400">F8DC102</a>
    </h1>
    <button class="menu-button text-white text-2xl sm:hidden">☰</button>
    <ul class="hidden sm:flex space-x-6">
      <li><a href="index.html" class="text-white transition duration-300 hover:text-blue-400">Home</a></li>
      <li><a href="about.html" class="text-white transition duration-300 hover:text-blue-400">About</a></li>
      <li><a href="tech.html" class="text-white transition duration-300 hover:text-blue-400">Tech Stack</a></li>
      <li><a href="projects.html" class="text-white transition duration-300 hover:text-blue-400">Projects</a></li>
      <li><a href="contact.html" class="text-white transition duration-300 hover:text-blue-400">Contact</a></li>
    </ul>
  </div>
</nav>